    <table id="employeeList" class="js-collection table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody class="js-data-model">
            <tr>
                <td><a data-bind="id" href="/employee/" class="js-view-record"></a></td>
                <td data-bind="first_name"></td>
                <td data-bind="last_name"></td>
                <td><i class="icon-chevron-right"></i></td>
            </tr>
        </tbody>
    </table>